// todo add updated style to the site

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #388087;

  background-color: #f6f6f2;
}

main {
  flex: 2;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 50px auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
  color: #266165;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.5rem;

  font-size: 3em;
}

.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 44%;
  height: 2px;
  width: 40px;
  background: #388087;
}

.toastify__font-style{
  //-webkit-text-stroke: .25px #215a60;
  //font-size: 20px;
  color: #266165;
}